<%= link_to "New Note", new_note_path %>

<h2>Notes</h2>
 
 
 <%= form_tag notes_path, :method => 'get', :id => "notes_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <br><br><br>
  <div id="notes"><%= render 'notes' %></div>
<% end %>

  <% @labels.each do |label| %>
 
  <p class="number">  <%= label.name %> </p>
    
  <% end %>


<script type="text/javascript">


$(function() {
  $("#notes th a, #notes .pagination a").live("click", function() {
    $.getScript(this.href);
    return false;
  });
  
  $("#notes_search input").keyup(function() {
    $.get($("#notes_search").attr("action"), $("#notes_search").serialize(), null, "script");
    return false;
  });
});
</script>